body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contenido {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.formulario {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
}

.formulario input,
.formulario select,
.formulario textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-donar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-donar:hover {
    background-color: #45a049;
}

.numero-cuenta {
    width: 90%, center;
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.numero-cuenta h2 {
    margin-bottom: 10px;
}

.numero {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.fa-check{
    color: #1ca700;
    margin-right: 10px;
}

h2 {
    color: #1ca700;
    margin-top: 25px;
    text-align: center;
}