.modal {
  display: none;
  color: #006300;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  position: relative;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.button-wrapper button {
  background-color: #006300;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-wrapper button:hover {
  background-color: #32a45b;
}

.close {
  color: #006300;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s;
}

.close:hover,
.close:focus {
  color: #3cb371;
  text-decoration: none;
  cursor: pointer;
}

.file-label {
  cursor: pointer;
  color: #006300;
  transition: background-color 0.3s;
  display: inline-block;
  margin-bottom: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
}

.file-label:hover {
  background-color: #32a45b;
}

.modal-content textarea {
  width: calc(100% - 40px);
  height: 200px;
  margin-top: 20px;
  padding: 10px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5px;
  resize: none;
  outline: none;
  transition: border-color 0.3s;
}

.textarea-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.textarea-image {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  text-align: center;
}

.textarea-image img {
  max-width: calc(100% - 4px);
  max-height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 2px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 3vw;
  color: #006300;
  font-size: 3vw;
}

.social-menu {
  background-color: #dbdbdb;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.24);
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.social-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  z-index: 1;
}

.social-menu ul li {
  flex: 1;
}

.social-menu ul li a {
  display: block;
  text-align: center;
  color: #006300;
  padding: 15px 0;
  text-decoration: none;
}

.social-menu ul li a:hover {
  color: #3cb371;
}

.social-menu ul li a i {
  font-size: 20px;
}

.header {
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
}

.modal-content h3 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  display: inline-block;
  width: 60px;
}

.modal-content input[type="text"] {
  width: calc(100% - 100px);
  height: 30px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

/* diseño de la publicacion-------------------*/

.publicacion {
  display: flex;
  flex-direction: column;
  border: 1px solid #0063004d;
  border-radius: 15px;
  padding: 15px;
  text-align: justify;
  margin: 20px auto;
  max-width: 600px;
  margin-bottom: 60px;
}

.contenido p {
  white-space: pre-line;
}

.usuario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.usuario img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.usuario-info {
  position: relative;
  display: flex;
  flex-direction: row;
}
.infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnOpciones {
  position: relative;
  display: flex;
  flex-direction: row;
}

.btnOpciones button {
  background-image: linear-gradient(
    to right,
    #007991 0%,
    #78ffd6 51%,
    #007991 100%
  );
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btnOpciones button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#usuario {
  font-weight: bold;
  color: #006300;
  font-size: 15px;
  margin-bottom: -1px;
}

.fecha {
  color: #666;
  font-size: 12px;
}

.contenido h3 {
  color: #079e4b;
}
.contenido img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.interacciones {
  margin-top: 1vw;
  display: flex;
  justify-content: center;
}

.interacciones button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5vw;
}

.interacciones button:last-child {
  margin-right: 0;
}

.interacciones button:hover {
  color: #3cb371;
}

/* diseño de la barra usuario------------------------*/

.bar {
  background-color: none;
  color: #006300;
  cursor: pointer;
  padding: 15px;
  font-size: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 300px;
}

.menu {
  background-color: #57b983;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 9998;
  width: 300px;
  height: 100vh;
  overflow-x: hidden;
  transition: left 0.3s;
}

.menu a {
  display: block;
  padding: 5px 16px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu a:hover {
  color: black;
}

.imageU {
  display: flex;
  justify-content: center;
  margin-bottom: -15px;
}

.imageU img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.user-info {
  text-align: center;
  line-height: 0.1 !important;
  padding: 20px;
}

.imagem img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.bar.open {
  width: 400px;
}

.bar.open + .menu {
  left: 0;
  padding-top: 70px;
}

/* ESTILOS PARA EL IDPUBLICACION */

#ocultar{
  display: none;
}


/* tema oscuro */

.dark-theme {
  background-color: rgb(22, 22, 22);
  color: #fff;
}

.dark-theme .modal-content {
  background-color: #333;
}

.dark-theme .button-wrapper button {
  background-color: #006300;
}

.dark-theme .button-wrapper button:hover {
  background-color: #32a45b;
}

.dark-theme .close {
  color: #fff;
}

.dark-theme .file-label {
  color: #fff;
}

.dark-theme .file-label:hover {
  background-color: #32a45b;
}

.dark-theme .textarea-wrapper {
  border-color: #ccc;
}

.dark-theme .textarea-image img {
  border-color: #fff;
}

.dark-theme h1 {
  color: #fff;
}

.dark-theme .social-menu {
  background-color: #000000;
}

.dark-theme .social-menu ul li a {
  color: #fff;
}
.dark-theme .social-menu ul li a:hover {
  color: #32a45b;
}

.dark-theme .header {
  background-color: rgb(22, 22, 22);
}

.dark-theme .modal-content h3 {
  color: #fff;
}

.dark-theme .modal-content input[type="text"] {
  border-color: #ccc;
}

.dark-theme .publicacion {
  border-color: #ffffffc2;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 4px 0px,
    rgba(255, 255, 255, 0.15) 0px 1px 3px 1px;
}

.dark-theme .contenido h3 {
  color: #079e4b;
}

.dark-theme .theme-toggle {
  background-color: #969696;
  border: 1px solid #383838;
}

.dark-theme .theme-toggle:hover {
  background-color: #689400;
  border: 1px solid #383838;
}

.dark-theme #usuario {
  color: #009400;
}

.dark-theme .fecha {
  color: #979797;
}

.dark-theme .interacciones button {
  color: #c5c5c5;
}

.dark-theme .interacciones button:hover {
  color: #00b900;
}

.dark-theme .menu {
  background-color: #7c7e7d;
}

.dark-theme .bar {
  color: #ffffff;
}

.dark-theme .user-info {
  color: #000000;
}

.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #949494;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-toggle:hover {
  background-color: #f0f0f0;
}
