body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow: auto !important;
}

:root {
  --primary-color: #00b840;
  --secondarycolor: #c23dff;
  --background-color: #ffffff;
  --textcolor: #000000;
  --hover-color: #5ffbb5;
  --paddingx: 1rem;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background-color: transparent !important;
}
#modalOpcion,
#imgmodal {
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 80%;
  margin-top: 0.6rem;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #94ee94;
  border-radius: 8px;
}

.info-container {
  width: 75%;
  text-align: center;
  padding: 0.5rem;
  border-right: 1px solid #e1e1e1bf;
}

.image-container {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn_cancelar {
  position: relative;
  width: 14px;
  height: 14px;
  padding: 14px;
  line-height: 12px;
  border-radius: 10px;
  margin-top: -10px;
  border: none;
  font-weight: 600;
  left: 96%;
  cursor: pointer;
  box-sizing: border-box;
}

.btn_cancelar .ex {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--uno);
  font-size: 28px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contenedorImg {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

select:focus-visible,
textarea:focus-visible,
input:focus-visible {
  outline: none;
}

input[type="file"] {
  border: none !important;
  width: 100%;
  font-size: 11px !important;
}

input[type="file"]::file-selector-button {
  background-image: linear-gradient(
    to right,
    #ffab1b 0%,
    #5c4e00 48%,
    #ffab1b 100%
  );
  padding: 10px 10px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.info-container .form-principalDT {
  min-height: auto;
  overflow: hidden;
}

.form-principalDT form {
  display: flex;
  width: 600%;
}

.form-principalDT form .pagina {
  position: relative;
  width: 16.67%;
  transition: margin-left 0.2s ease-in-out;
}

.form-principalDT form .pagina .gridpagina {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
}

.form-principalDT form .pagina .grid3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-principalDT form .pagina .grid3 .bloc3 {
  grid-column: 1 / 4;
}

.form-principalDT form .pagina .gridpagina .bloc3 {
  position: relative;
  grid-column: 1 / 3;
}

.form-principalDT form .pagina .campo {
  position: relative;
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  height: 38px;
  margin: 18px 10px;
}

.form-principalDT form .pagina .campo .label {
  position: absolute;
  top: -22px;
  padding-left: 8px;
  font-size: 1rem;
  font-style: italic;
  text-align: justify;
  float: left;
  display: block;
  text-align: left;
  width: 100%;
}

.form-principalDT form .pagina .campo input {
  position: relative;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-principalDT form .pagina .campo input:hover {
  border-color: var(--icon-color);
}

.btnsgroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-principalDT form .pagina button {
  height: 45px;
  background: linear-gradient(90deg, #8bfd77 0%, #06ff34 46%, #a9ffa4 100%);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
  border-bottom: 4px solid #11b602;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-align: left;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  margin: 18px 30px;
  color: white;
  padding: 5px 35px;
}

.form-principalDT form .pagina button::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 25px solid #26b602;
  border-bottom: 20px solid #2cb602;
  border-left: 30px solid transparent;
  border-right: 40px solid #0bb602;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

.contenedorImg,
.image-container .image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.image-container .image2 img {
  width: 80%;
  object-fit: cover;
  border-radius: 30px;
}
.contenedorImg img {
  width: 40%;
  border-radius: 8px;
}

.campo select {
  width: 100%;
  border: none;
  border-radius: 4px;
}

/* ESTILO PARA LA TABLA DINAMICA */
.tablaAyuda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
  margin: 0 0 5rem 0;
}
.contenedor {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #111;
  background-color: var(--background-color);
  box-shadow: rgba(46, 240, 98, 0.4) 5px 5px, rgba(53, 240, 46, 0.3) 10px 10px,
    rgba(72, 240, 46, 0.2) 15px 15px, rgba(46, 240, 59, 0.1) 20px 20px,
    rgba(58, 89, 64, 0.05) 25px 25px;
  border: 2px solid #6ff99d;
}

.contenedor label {
  color: var(--textcolor);
  margin: var(--paddingx) !important;
}

.dataTables_wrapper .dataTables_info {
  float: left;
  padding-top: 1.2rem !important;
  color: var(--textcolor) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.curren {
  width: 5px;
  height: 5px;
}

div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}

thead {
  background-color: var(--background-color);
}

thead > tr,
thead > tr > th {
  color: var(--textcolor);
  font-weight: normal;
  text-align: start;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0px solid var(--textcolor) !important;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute;
  top: 12px;
  right: 8px;
  display: block;
  font-family: "Font Awesome\ 5 Free";
}

table.dataTable thead th.sorting:after {
  content: "\f0dc";
  color: var(--dark);
  font-size: 0.8em;
  padding-top: 0.12em;
}

table.dataTable thead th.sorting_asc:after {
  content: "\f0de";
}

table.dataTable thead th.sorting_desc:after {
  content: "\f0dd";
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  color: var(--textcolor);
  font-weight: bold;
  cursor: pointer;
}

table.dataTable.display tbody tr {
  cursor: pointer;
  font-size: 12px;
  border-collapse: collapse !important;
  word-wrap: break-word;
  color: #111;
}

tbody tr:hover {
  background-color: var(--hover-color) !important;
  color: var(--textcolor);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border-radius: 50%;
  font-size: 11px;
  color: var(--dark) !important;
  border: 0;
  cursor: pointer;
}

table.dataTable thead th.sorting:after {
  display: none;
}

.dataTables_filter {
  margin-top: 0.6rem !important;
}
.dataTables_wrapper .dataTables_filter input {
  width: 100%;
  margin-left: 10px !important;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid rgba(192, 192, 192, 0.597);
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter input:hover {
  box-shadow: 0 0 10px var(--hover-color);
}

tfoot {
  color: #111;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: #111 !important;
  cursor: pointer !important;
  padding: 10px !important;
  border-radius: 10px;
}
#example_next:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background-color: var(--hover-color);
  color: #111;
}

#example_next {
  color: #111 !important;
  cursor: pointer !important;
  padding: 10px !important;
  border-radius: 10px;
}

@media (max-width: 710px) {
  #imgmodal {
    width: 95%;
  }
  .container {
    padding: 0;
  }

  .info-container {
    width: 100%;
    height: 100%;
  }

  .image-container {
    display: none !important;
  }

  .btn_cancelar {
    font-weight: 600;
    left: 94%;
  }
}
