body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #007f5f;
    margin: 0;
}

.back-button {
    font-size: 18px;
    color: #007f5f;
    text-decoration: none;
    transition: color 0.3s;
}

.back-button:hover {
    color: #00553f;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

th {
    background-color: #02664d;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    background-color: #f0f8f7;
    color: #333;
}

tbody tr:hover {
    background-color: #e6f7f6;
}

.boton-td button {
    margin-right: 5px;
    color: #4caf50;
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

.boton-td button:hover {
    color: #347a38;
}

.accion-icons {
    display: flex;
    align-items: center;
}

.image-cell {
    width: 100px;
}

.thumbnail {
    width: 100%;
    height: auto;
    display: block;
}


/* diseño de formulario de actualizacion de publicacion */
.formPublicacion {
    display: none;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
}

.formPublicacion label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #495057;
}

.formPublicacion input[type="text"],
.formPublicacion textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.formPublicacion input[type="file"] {
    display: none;
}

.formPublicacion .thumbnail {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.formPublicacion button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formPublicacion button[type="submit"]:hover {
    background-color: #218838;
}