<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albergue Temporal</title>
    <link rel="stylesheet" href="/static/css/albergue.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Albergues Temporales <i class="fas fa-home"></i></h1>
    </header>
    <div class="container">
        <div class="contenido">
            <h2>Importancia de los Albergues Temporales</h2>
            <ul>
                <li><i class="fas fa-check-circle"></i> Proporcionar Refugio: Ofrecen un entorno seguro y cómodo para los animales mientras esperan ser adoptados.</li>
                <li><i class="fas fa-check-circle"></i> Mejorar la Salud: Permiten que los animales reciban atención médica, alimentación adecuada y cuidados.</li>
                <li><i class="fas fa-check-circle"></i> Facilitar la Adopción: Ayudan a socializar a los animales, haciendo que sean más adoptables.</li>
                <li><i class="fas fa-check-circle"></i> Reducción del Estrés: Un hogar temporal reduce el estrés de los animales en comparación con la vida en la calle o en refugios abarrotados.</li>
            </ul>
        </div>
        
        <div class="contenido">
            <h2>Servicios Ofrecidos por los Albergues Temporales</h2>
            <ul>
                <li><i class="fas fa-check-circle"></i> Proporcionan un espacio seguro y confortable.</li>
                <li><i class="fas fa-check-circle"></i> Ambiente libre de amenazas y condiciones climáticas adversas.</li>
                <li><i class="fas fa-check-circle"></i> Acceso a cuidados veterinarios básicos y especializados.</li>
                <li><i class="fas fa-check-circle"></i> Suministro de comida nutritiva y agua fresca.</li>
                <li><i class="fas fa-check-circle"></i> Atención personalizada y cuidados diarios.</li>
            </ul>
        </div>
        
        <div class="contenido">
            <h2>Requisitos</h2>
            <ul>
                <li><i class="fas fa-check-circle"></i> Capacidad para Alojar Animales: Espacio adecuado y seguro para mantener a los animales temporalmente.</li>
                <li><i class="fas fa-check-circle"></i> Compromiso y Tiempo: Disponibilidad para dedicar tiempo y atención a los animales.</li>
                <li><i class="fas fa-check-circle"></i> Conocimiento Básico de Cuidado Animal: Entender las necesidades básicas de los animales.</li>
                <li><i class="fas fa-check-circle"></i> Aprobación de Evaluación: Superar una evaluación inicial realizada por nuestro equipo.</li>
            </ul>
        </div>
        
        <p>PetProtege agradece tu disposición para ofrecer un hogar temporal a los animales en situación de calle. Tu ayuda es fundamental para brindarles una segunda oportunidad y mejorar sus posibilidades de ser adoptados.</p>
    </div>
</body>
</html>
