<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atención Veterinaria</title>
    <link rel="stylesheet" href="/static/css/atencionvet.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Atención Veterinaria <i class="fas fa-paw"></i></h1>
    </header>
    <div class="container">
        <div class="servicios">
            <div class="servicio">
                <i class="fas fa-stethoscope"></i>
                <h2>Consultas Médicas</h2>
                <p>Exámenes físicos y diagnósticos.</p>
            </div>
            <div class="servicio">
                <i class="fas fa-virus"></i>
                <h2>Vacunaciones</h2>
                <p>Protección contra enfermedades.</p>
            </div>
            <div class="servicio">
                <i class="fas fa-dog"></i>
                <h2>Guardería</h2>
                <p>Cuidado y atención para tu mascota.</p>
            </div>
            <div class="servicio">
                <i class="fas fa-bone"></i>
                <h2>Alimentación</h2>
                <p>Dietas equilibradas y recomendaciones nutricionales.</p>
            </div>
            <div class="servicio">
                <i class="fas fa-medkit"></i>
                <h2>Emergencias</h2>
                <p>Atención inmediata en casos críticos.</p>
            </div>
            <div class="servicio">
                <i class="fas fa-heartbeat"></i>
                <h2>Cirugías</h2>
                <p>Procedimientos quirúrgicos especializados.</p>
            </div>
        </div>
    </div>
</body>
</html>
