<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - PetProtege</title>
    <link rel="stylesheet" href="/static/css/contacto.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1><i class="fas fa-address-card"></i>Contactos</h1>
    </header>
    <div class="container">
        <div class="contact-info">
            <div class="contact-info-item">
                <h2>Pet Protege</h2>
                <p><i class="fas fa-map-marker-alt"></i> 3ra Calle Oriente, Antigua Guatemala, Sacatepéquez, Guatemala</p>
                <p><i class="fas fa-phone"></i> +502 1234-5678</p>
                <p><i class="fas fa-envelope"></i> info@petprotege.com</p>
            </div>
            <div class="contact-info-item">
                <h2>Adopta Animal GT</h2>
                <p><i class="fas fa-map-marker-alt"></i> 5ta Avenida Norte #25, Antigua Guatemala, Sacatepéquez, Guatemala</p>
                <p><i class="fas fa-phone"></i> +502 9876-5432</p>
                <p><i class="fas fa-envelope"></i> contacto@rescateguatemala.org</p>
            </div>
            <div class="contact-info-item">
                <h2>Huellas al Rescate</h2>
                <p><i class="fas fa-map-marker-alt"></i> 1ra Calle Poniente, Antigua Guatemala, Sacatepéquez, Guatemala</p>
                <p><i class="fas fa-phone"></i> +502 5678-9012</p>
                <p><i class="fas fa-envelope"></i> info@adoptanimalgt.org</p>
            </div>
            <div class="contact-info-item">
                <h2>Patitas Empolvadas</h2>
                <p><i class="fas fa-map-marker-alt"></i> 2da Avenida Sur #10, Antigua Guatemala, Sacatepéquez, Guatemala</p>
                <p><i class="fas fa-phone"></i>+502 3456-7890</p>
                <p><i class="fas fa-envelope"></i>contacto@patitasempolvadas.org</p>
            </div>
        </div>
    </div>
</body>
</html>