<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denuncias de Maltrato</title>
    <link rel="stylesheet" href="/static/css/denuncias.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Denuncias de Maltrato <i class="fas fa-exclamation-triangle"></i></h1>
    </header>
    <div class="container">
        <div class="contenido">
            <h2>¿Qué es el Maltrato Animal?</h2>
            <p>El maltrato animal se refiere a cualquier acción que cause sufrimiento innecesario o daño a un animal. Puede manifestarse de diversas formas, incluyendo:</p>
            <ul>
                <li><i class="fas fa-check"></i> Abandono</li>
                <li><i class="fas fa-check"></i> Negligencia</li>
                <li><i class="fas fa-check"></i> Abuso físico</li>
                <li><i class="fas fa-check"></i> Explotación</li>
            </ul>
        </div>
        
        <div class="contenido">
            <h2>¿Cómo Denunciar Casos de Maltrato?</h2>
            <p>Si presencias o sospechas de un caso de maltrato animal, es importante tomar acción. Aquí hay algunos pasos que puedes seguir para denunciar:</p>
            <ul>
                <li><i class="fas fa-check"></i> Reúne evidencia, como fotos o videos.</li>
                <li><i class="fas fa-check"></i> Contacta a las autoridades locales, como la policía o el departamento de bienestar animal.</li>
                <li><i class="fas fa-check"></i> Proporciona detalles específicos del incidente y la ubicación.</li>
                <li><i class="fas fa-check"></i> Busca ayuda de organizaciones de derechos animales si es necesario.</li>
            </ul>
        </div>
        <p>Denunciar casos de maltrato animal es fundamental para proteger a los animales y garantizar su bienestar en la sociedad.</p>
    </div>
</body>
</html>
