<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educación y Concientización</title>
    <link rel="stylesheet" href="/static/css/educacion.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Educación y Concientización <i class="fas fa-graduation-cap"></i></h1>
    </header>
    <div class="container">
        <div class="contenido">
            <h2>Importancia de la Educación y Concientización</h2>
            <p>La educación y concientización sobre el cuidado de los animales es fundamental para promover el bienestar animal y fomentar una convivencia armoniosa entre humanos y animales.</p>
            <p>Algunos aspectos importantes incluyen:</p>
            <ul>
                <li><i class="fas fa-check-circle"></i> Promover el respeto hacia todos los seres vivos.</li>
                <li><i class="fas fa-check-circle"></i> Enseñar sobre la responsabilidad de tener una mascota.</li>
                <li><i class="fas fa-check-circle"></i> Fomentar prácticas de cuidado adecuadas, como la esterilización y la vacunación.</li>
                <li><i class="fas fa-check-circle"></i> Sensibilizar sobre el impacto del abandono y el maltrato animal.</li>
            </ul>
        </div>
        
        <div class="contenido">
            <h2>Actividades de Educación y Concientización</h2>
            <p>Para lograr estos objetivos, se pueden realizar diversas actividades, como:</p>
            <ul>
                <li><i class="fas fa-check-circle"></i> Charlas educativas en escuelas y comunidades.</li>
                <li><i class="fas fa-check-circle"></i> Talleres sobre cuidado animal y tenencia responsable.</li>
                <li><i class="fas fa-check-circle"></i> Campañas de sensibilización en medios de comunicación.</li>
                <li><i class="fas fa-check-circle"></i> Eventos de adopción y esterilización.</li>
            </ul>
        </div>
        
        <p>Contribuir a la educación y concientización sobre el cuidado de los animales es una forma importante de crear un mundo mejor para todos.</p>
    </div>
</body>
</html>
