<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú de Inicio</title>
    <link rel="stylesheet" href="../static/css/inicio.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/modal.css" />
    <script src="/static/lib/sweetalert2.min.js"></script>
    <script src="/static/lib/jQuery3.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="social-menu">{{menu.menuitems | safe}}</nav>
    </header>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>POST <i class="fas fa-edit"></i></h2>

        <form
          action="/PublicacionAgregar"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="hidden"
            id="correoUs"
            name="correoUs"
            value="{{menu.correo}}"
          />
          <h3>Título:</h3>
          <input type="text" name="title" placeholder="Escribe un título..." />

          <h3>Lugar:</h3>
          <input type="text" name="lugar" placeholder="Direccion Animal" />

          <div class="textarea-wrapper">
            <textarea
              name="descripcion"
              placeholder="Escribe algo..."
            ></textarea>
            <div class="textarea-image"></div>
          </div>
          <label for="image-upload" class="file-label"
            ><i class="fas fa-image"></i
          ></label>
          <input
            name="imagen"
            id="image-upload"
            type="file"
            accept="image/*"
            onchange="previewImage(event)"
            style="display: none"
          />
          <div class="button-wrapper">
            <button type="submit" value="AgregarPublicacions">
              Publicar <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- casa docececece-->
    {%include 'containerPublica.html'%} 
 

    <!-- CONTENEDOR 2 -->


    {%include 'miModal.html'%} {%include 'miModalOpciones.html'%}

    <script src="/static/js/inicio.js"></script>
    <script src="/static/js/OpcionesAnimales.js"></script>
    <script src="/static/js/publicaciones.js"></script>
    <script src="/static/js/actualizafoto.js"></script>
  </body>
</html>
