<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programas de Esterilización</title>
    <link rel="stylesheet" href="/static/css/esterilizacion.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
</head>
<body>
    <header>
        <h1>Programas de Esterilización <i class="fas fa-syringe"></i></h1>
    </header>
    <div class="container">
        <div class="contenido">
            <h2>Importancia de los Programas de Esterilización</h2>
            <p>Los programas de esterilización juegan un papel fundamental en el control de la población animal y en la prevención del sufrimiento de animales sin hogar. Algunos beneficios clave incluyen:</p>
            <ul>
                <li><i class="fas fa-check-circle"></i> Reducción de la superpoblación animal.</li>
                <li><i class="fas fa-check-circle"></i> Prevención de enfermedades transmisibles.</li>
                <li><i class="fas fa-check-circle"></i> Mejora del comportamiento animal.</li>
                <li><i class="fas fa-check-circle"></i> Contribución al bienestar animal.</li>
            </ul>
        </div>
        
        <div class="contenido">
            <h2>Procedimiento de Esterilización</h2>
            <p>La esterilización es un procedimiento seguro y común que consiste en la cirugía para eliminar la capacidad reproductiva de un animal. Algunos aspectos importantes a tener en cuenta son:</p>
            <ul>
                <li><i class="fas fa-check-circle"></i> Realizada por veterinarios capacitados.</li>
                <li><i class="fas fa-check-circle"></i> Se utiliza anestesia para garantizar el bienestar del animal.</li>
                <li><i class="fas fa-check-circle"></i> Los animales se recuperan rápidamente después del procedimiento.</li>
                <li><i class="fas fa-check-circle"></i> Se recomienda para animales de todas las edades.</li>
            </ul>
        </div>
        
        <p>Los programas de esterilización son una herramienta efectiva para promover la tenencia responsable de mascotas y mejorar el bienestar animal en nuestras comunidades.</p>
    </div>
</body>
</html>
