<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones del Usuario</title>
    <link rel="stylesheet" href="/static/css/publicaciones.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <a class="back-button" href="/Inicio"><i class="fas fa-arrow-left"></i> Regresar</a>
            <h1><i class="fas fa-list"></i> Publicaciones de: {{ correo_usuario }}</h1>
        </div>
        <div>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Lugar</th>
                    <th>Fecha y Hora</th>
                    <th>Imagen</th>

                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for publicacion in publicaciones %}
                <tr>
                    <td>{{ publicacion.titulo }}</td>
                    <td>{{ publicacion.descripcion }}</td>
                    <td>{{ publicacion.lugar }}</td>
                    <td>{{ publicacion.fechaHora }}</td>
                    <td class="image-cell">
                        <img src="../static/imagenesServer/{{ publicacion.foto }}" alt="Imagen de la Publicación" class="thumbnail">
                    </td>
                    
                    <td class="boton-td">
                        <button onclick="mostrarFormulario('{{ publicacion.id }}')"><i class="fas fa-edit"></i></button>
                        <button onclick="eliminarPublicacion('{{ publicacion.id }}')" class="eliminarBtn"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Formularios en ventanas emergentes -->
    {% for publicacion in publicaciones %}
    <div id="formPublicacion_{{ publicacion.id }}" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarFormulario('{{ publicacion.id }}')">&times;</span>
            <form id="updateForm_{{ publicacion.id }}" action="/ActualizarPublicacion" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="idPublicacion" value="{{ publicacion.id }}">
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" id="titulo_{{ publicacion.id }}" name="titulo" value="{{ publicacion.titulo }}">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion_{{ publicacion.id }}" name="descripcion">{{ publicacion.descripcion }}</textarea>
                </div>
                <div class="form-group">
                    <label for="lugarDireccion">Lugar Dirección:</label>
                    <input type="text" id="lugarDireccion_{{ publicacion.id }}" name="lugarDireccion" value="{{ publicacion.lugar }}">
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen:</label>
                    <img id="imagenPreview_{{ publicacion.id }}" src="../static/imagenesServer/{{ publicacion.foto }}" alt="Imagen de la Publicación" class="thumbnail">
                    <input type="file" id="imagen_{{ publicacion.id }}" name="imagen" class="imagen" onchange="previewImagen('{{ publicacion.id }}')">
                </div>
                <input type="hidden" id="correoU_{{ publicacion.id }}" name="correoU" value="{{ publicacion.idUser}}">
                <button type="submit">Actualizar Publicación</button>
            </form>
        </div>
    </div>
    {% endfor %}
<script src="/static/js/publicaciones.js"></script>
</body>
</html>