<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reglamento de Adopcion</title>
    <link rel="stylesheet" href="/static/css/ReglamentoA.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Reglamento de Adopción <i class="fas fa-exclamation-triangle"></i></h1>
        </header>
    </div>
    <div class="reglamentoTexto">
        <section id="reglamento">
            <ul>
                <li><i class="fas fa-check-circle"></i> Ser mayor de 18 años.</li>
                <li><i class="fas fa-check-circle"></i> Presentar identificación oficial vigente.</li>
                <li><i class="fas fa-check-circle"></i> Comprobar domicilio fijo.</li>
                <li><i class="fas fa-check-circle"></i> Firmar el contrato de adopción.</li>
                <li><i class="fas fa-check-circle"></i> Aceptar las visitas de seguimiento.</li>
            </ul>
            <h3>Proceso de Adopción</h3>
            <ol>
                <li><i class="fas fa-check-circle"></i> Selecciona al animal que te interesa.</li>
                <li><i class="fas fa-check-circle"></i> Completa el formulario de solicitud de adopción.</li>
                <li><i class="fas fa-check-circle"></i> Recibirás una llamada o correo electrónico para agendar una entrevista y conocer al animal.</li>
                <li><i class="fas fa-check-circle"></i> Si la entrevista es exitosa, se llevará a cabo una visita domiciliaria.</li>
                <li><i class="fas fa-check-circle"></i> Una vez aprobada la adopción, se firma el contrato correspondiente y se realiza el pago de la cuota de adopción (si aplica).</li>
            </ol>
            <h3>Compromisos</h3>
            <ul>
                <li><i class="fas fa-check-circle"></i> Proporcionar un hogar seguro y amoroso.</li>
                <li><i class="fas fa-check-circle"></i> Comprometerse a no abandonar al animal.</li>
                <li><i class="fas fa-check-circle"></i> Proveer atención veterinaria necesaria.</li>
                <li><i class="fas fa-check-circle"></i> Informar de cualquier cambio significativo en la situación del adoptante.</li>
            </ul>
        </section>
    </div>
</body>
</html>